
.Home-subtitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 22px;
    margin-left: 7%;
    width: 100%;
}


.Home-search-wrap{
    border: 1px solid black;
    width: 85vw;
    height: 38px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.Home-search{
    width: 270px;
    border: 0px;
    margin-left: 10px;
    display: flex;
    font-size: medium;
}

input:focus {
    outline: none;
    border: none;
  }

.Home-search-btn{
background-position: center center;
background-size: 24px;
background-repeat: no-repeat;
width: 23px;
height: 23px;
margin-right: 13px;
}