
.JoinIng-con{
    display: flex;
    align-items: center;
    height: 100vh;
    margin: auto;
    width: 100%;
    padding-bottom: min(30%); 
    padding-top: min(30%); 
}


.JoinIng-wrap{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.JoinIng-welcome{
    width: 100%;

}


.JoinIng-logo{
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto 40px auto;
}


.JoinIng-graphic{
    width: 64%;
    display: flex;
    align-items: center;
    margin:  0 auto;
    margin-bottom: 52px;
}


.JoinIng-des{
    font-size: larger;
    color: white;
    display: inline-block;
    width: auto;
    margin-bottom: 12px;
    white-space: nowrap;
}


.JoinIng-des1{
    font-size: x-large;
    color: white;
    display: inline-block;
    width: auto;
    margin-bottom: 12px;
    white-space: nowrap;
}



.JoinIng-Home{
    display: flex;
    color:  white;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 48px;
    border: .75px solid  gray;
    background-color:  gray;
    padding: 15px;
    margin-top: 30px;
}