
.Join2-con{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}


.Join2-wrap{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: min(10%); 
    padding-top: min(10%); 
}


.Join2-welcome{
    width: 80%;
}

.Join2-logo{
    height: 50px;
    margin-bottom: 40px;
}


.Join2-Input-wrap{
width: 80%;
}


.Join2-Input{
    display: flex;
    color: white;
    width: 100%;
    height: 40px;
    border: .75px solid white;
    background-color: black;
    padding: 15px;
    margin-bottom: 34px;
}


.Join2-Input-address{
    display: flex;
    color: white;
    width: 100%;
    height: 40px;
    border: .75px solid white;
    background-color: black;
    padding: 15px;
    margin-top: -24px;
    margin-bottom: 30px;
}

.Join2-Input::placeholder{
    font-size: smaller;
}

.Join2-txt{
    margin-top: 40px;
    width: 100%;
    font-size: x-large;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;

}

.Join2-des{
    font-size: medium;
    color: white;
    display: inline-block;
    width: auto;
    margin-bottom: 8px;
    margin-right: 22px;
    white-space: nowrap;

}



.Join2-biz-submit{
    display: flex;
    color:  rgb(215, 215, 215);
    font-size: smaller;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    border: .75px solid gray;
    background-color:  gray;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: -20px;
}


.Join2-biz{
    display: flex;

}



.Join-pw-des{
    font-size: smaller;
    color: lightgray;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}


.Join2-adress-con{
display: flex;
}


.Join2-adress-submit{
display: inline-block;
white-space: nowrap;
height: 40px;
border: .75px solid lightgray;
background-color:   lightgray;
padding: 0 14px;
margin-left: 6px;
}

.Join2-Input-address::placeholder{
    font-size: smaller;

}