.Main-container{
    display: flex;
    align-items: center;
    height: 100vh; /* 뷰포트 높이에 맞게 조절 */
    width: 100%;
    justify-content: center; 
  
}


.Main-wrap{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
}


.Main-txt{
    color: white;
    font-size: x-large;
}


.Main-logo{
    /* background-image: url('/Users/hnm/Desktop/Documents/react/Basket/public/img/MainLogo.svg'); */
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
    width: 100%; /* 로고의 너비를 100%로 설정하여 부모 요소에 맞게 조절 */
    height: 85px;
}


.fade-enter-active {
    opacity: 1;
    transition: opacity 2s ease; 
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 2s ease; 
}
