.Header-con {
    padding: 20px 0 10px 0;
    max-width: 100vw;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #e2e2e2; */
    justify-content: space-between;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 20px;
  }

  .Header-hr{
    margin: 5px 0;
  }

  