.Nav-conbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.Nav-con{
    background-color: black;
    height: 6%;
    min-height: 40px;
    width: 100%;
    max-width: 500px;
    display: flex;
    position: fixed;
    justify-content: space-between; 
    align-items: center;
    bottom: 0; 
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}


.Nav-Barname{
    color: white;
    margin-bottom: 5px;

}


.Nav-menu{
background: none;
border: 0px solid;
}

.Nav-cart{
    background: none;
    border: 0px solid;
    display: flex;
}

.Nav-cart-cnt{
    width: 17px;
    height: 17px;
    font-size: 12px;
    margin-left: -5px;
    margin-top: -7px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.9); 
    border-radius: 50%;
    color: white;
}

.Nav-menu img{
    height: 24px;
    }
    