.OftenItem-con {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    gap: 0px 7px;
    margin: auto;
    max-width: 100vh;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox에 대한 설정 */
    -ms-overflow-style: none; /* Internet Explorer 및 Edge에 대한 설정 */
}

.OftenItem-con::-webkit-scrollbar {
    display: none; /* WebKit 기반 브라우저에 대한 설정 (Chrome, Safari 등) */
}



.OftenItem-item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
}

.OftenItem {
    position: relative; 
    flex: 0 0 calc(33.33%);
    box-sizing: border-box;
    padding-bottom: 4%;
    width: 100%;
}

.OftenItemImg {
    width: 100%;
    position: relative; 
}


.OftenItem-wrap {
    position: relative; 
    width: 100%;
    flex-direction: column;
}

.OftenItem-Icon {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: flex-end;
}

.OftenItem-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute; 
    bottom: 0; 
    right: 5;
    margin-bottom:30px; 
    width: 100%;
}

.OftenItem-cold {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(44, 118, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top: 0; 
    left: 0;
}

.OftenItem-cart-cntCon {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    width: 80%;
    height: 30px;
}

.OftenItem-cart-cnt {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.OftenItem-cart-updown {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    color: rgb(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
}

.OftenItem-title {
    height: 7px;
    margin-top: -20px;
    font-size: small;
}

.OftenItem-Info {
    width: 100%;
    display: flex;
    margin-top: -5px;
}

.OftenItem-title-con {
    display: flex;
    flex-direction: column;
}

.OftenItem-salePrice {
    font-weight: bold;
    font-size: small;
    margin-left: 5px;
}

.OftenItem-sale {
    color: red;
    font-size: small;
    font-weight: bold;
}
